<div class="row">
  <div class="col-md-6 offset-md-3">

    <nb-card *ngFor="let event of events">
      <nb-card-body>
        <div class="colors">
          <div class="item">
            <div class="color">
              <div class="time">
                <span class="day">{{event.day}}</span>
                <span class="month">{{event.month}}</span>
              </div>
            </div>
            <div>
              <a routerLink="{{event._id}}">
                <h5>{{event.title}}</h5>
              </a>
              <span *ngFor="let hashtag of event.hashtags">#{{hashtag}}&nbsp;</span>
            </div>
            <!-- <div class="pull-right">
              <i class="ion-trash-a"></i>
            </div> -->
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    
    <nb-card *ngIf="noEvents">
      <nb-card-body>
        <div class="text-center" role="alert">
          <strong>No events yet!</strong> Create a new event
          <a routerLink="/pages/gallery/new-event" class="alert-link">here.</a>
        </div>
      </nb-card-body>
    </nb-card>

    <!-- <nb-card>
      <nb-card-body>
        <div class="colors">
          <div class="item">
            <div class="color">
              <div class="time">
                <span class="day">4</span>
                <span class="month">Jul</span>
              </div>
            </div>
            <div>
              <h5>Lollapalooza</h5>
              #lollapalooza #festival #music
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card> -->

  </div>
</div>